.contenedorMain {
    background-image: url(/assets/backgroundImage.jpg);
    width: 100vw;
    height: 360px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contenedorMain img {
    height: 100%;
    max-width: 100%;
}

.contTexto {
    display: flex;
    flex-flow: column;
    gap: 10px;
}

.contenedorMain .contButton {
    border: 1px solid white;
    padding: 5px;
    width: 220px;
    margin: auto;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.166);
}




.textoMain {
    display: flex;
    align-items: center;
    width: 276px;
    height: 76px;
    color: #044A77;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.166);
    border-radius: 4px;
}

/* Media queries for smaller screens */
@media (max-width: 768px) {
    .contenedorMain {
        height: auto;
        flex-direction: column;
        padding: 20px;
    }

    .contenedorMain img {
        height: auto;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .contenedorMain .contButton img{
        width: 70px;
        height: 70px;
    } .contTexto{
        justify-content: center;
        align-items: center;
    }
}